/*background-color: grey;*/
*{
    margin: 0;
    padding: 0;
}

body {
    margin: 1%;
}

#container .sub-container {
    background-color: rgba(1, 1, 1, 0.116);
    height: 50rem;
    
}

/* Scrollbar out */
::-webkit-scrollbar{
    display: none;
}

/* Menu main */
.menu {
    /*position: sticky;*/
    z-index: 1;
    top: 0;
}

.menu ul {
    background-color: rgba(41, 126, 74, 0.8);
    list-style: none;
    overflow: hidden;
    text-decoration: none;    
    box-shadow: 0 4px 4px 4px rgba(1, 1, 1, .3);
}


.menu ul li  {
    display: inline;
    float: left;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.menu ul a {
    text-decoration: none;
    color: white;
}

.menu li {
    display: block;
}

.menu ul .right {
    float: right;
}

.menu ul li:hover{
    background-color: black;
    transition: .9s;
    list-style: none;
}

#menuMovil {
    display: none;
}

/* SLIDER TOOLBAR */

.card {
    margin: 1%;
    width: 31%;
    float: left;
    box-shadow: 0 4px 4px 4px rgba(1, 1, 1, .3);
}

.card img {
    width: 100%;
    filter: blur(.7px) brightness(.6);
}


.card table {
    text-align: center;

}

.card table img {
    width: 30%;
}




.card .carousel-caption {
    text-shadow: black 1px 3px 3px;
    z-index:0;
}

/* Notice: state of project*/

.state-project {
position: relative;
float: right;
color: white;
font-size: 120%;
padding: 2%;
margin: 2%;
border-radius: 20px;
text-shadow: black 1px 3px 3px;
z-index: 1;
}

.maintenance {
    background-color: red;
    box-shadow: 2px 2px 2px 2px rgba(195, 0, 0, 0.554);
}

.finish {
    background-color: rgb(41, 126, 74);
    box-shadow: 2px 2px 2px 2px rgba(41, 126, 74, 0.554);
}

.work {
    background-color: rgb(88, 41, 126);
    box-shadow: 2px 2px 2px 2px rgba(88, 41, 126, 0.554);
}

.currently {

    background-color: goldenrod;
    box-shadow: 2px 2px 2px 2px rgba(88, 41, 126, 0.554);
}

/* Main logo */

.logo-main {
    text-align: center;
    cursor: pointer;
}

.logo-main img {
    width: 20%;
    transition: width 1s, height 1s, transform 2s;
}

.logo-main img:hover {
    width: 50%;
    transform: rotate(360deg);
}


/* format 1 text */

.format-text-1{
    text-align: justify;
    padding: 1%;
}

/* format icon text information-personal */

.format-icon {
    padding:  4%;
}

/* Caracteristics of cards for apply fade-id with JS */

#fade-in-1, #fade-in-2, #fade-in-3, #fade-in-4,  #fade-in-5  {
display: none;
}

/* main container */

#container img {
    width: 50%;
    height: 50%;
    background-size: cover;
    border-top: none;
    display: none;
    box-shadow: 0 4px 4px 4px rgba(1,1,1,.3);
}

/* Contacts */

.contact {
    color: black;
    padding: 10px;
    position: fixed;
    float: right;
    list-style: none;
    cursor: pointer;
    text-align: center;
    width: 4%;
    z-index: 1;
}

.contact:hover {
    color: rgba(41, 126, 74, 0.8);
}

.group-icons a {
    display: inline-flex;
    padding: 10px;
    color: black;
    cursor: pointer;
    
}

#btnShowIcons {
    cursor: pointer;
}

.signIn {
    background-color: rgba(41, 126, 74, 0.8);
    box-shadow: 0 10px 4px 4px rgba(1, 1, 1, .3);
    text-align: center;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    padding: 2%;
    float: right;
    width: 20%;
}

.signIn img {
    width: 80%;
}

.sign-out {
    color: brown;
}


/* Inputs */
input {
    border: 0;
    padding: 4%;
    width: 100%;
    outline: none;
    text-align: center;
    border-radius: 0;
}

footer .card {
    text-align: center;
    width: 98%;
    bottom: 0;
    position: relative;
}

.card .danger, .title {
    float: right;
    position: absolute;
    right: 0;
}

.card .danger {
    bottom: 0;
}



/* notifications */

.notification {
    background-color: gray;
    position: fixed;
    float: right;
    right: 1%;
    z-index: 1;
}

.left-register {
    float: left;
    width: 100%;
}

.left {
    float: left;
    width: 100%;
}

/* progress bar */

.progressDelivery li {
    display: inline;
    border-radius:  50px;
    color:white;
    cursor: pointer;
    padding: 2%;
    margin: 1%;
}

.progressDelivery ul {
    padding: 2%;
}




/* Responssive menu */
@media only screen and (max-device-width: 736px) {

  .menu ul li  {
    float: right;
    text-align: center;
    display: block;
    font-size: 50px;
  }

  .menu ul .right{
      float: none;
  }

  .menu ul li {
    float: none; 
  }

.menu ul #menuMovil {
    display:block;
}

.menu ul a li {
    display: none;
}

.card {
    font-size: 40px;
    width: auto;
}

.register, .register-services, .register-other {
    width: 98%;
}

.card button {
    font-size: 100%;
}



/* Projects */ 

h3 {
    font-size: 100%;
}

.card-body {
    font-size:70%;
}

/*************/

/* Sign In */

.signIn {
    width: 100%;
    text-align: center;
}

.signIn input {
   font-size: 50px;
}

.moveAppearDisappear .contact {
    margin: 2%;
    width: 10%;
    font-size: 50px;
}

.btnShowButtons  {
    bottom: 8%;
    left: 2%;
    display: block;
    font-size: 50px;
}


}